# dependencies
node_modules/

# source code
src/

# lockfile
pnpm-lock.yaml

# testing
test/

# git & github
.gitignore
.git/
.github/

# typescript
tsconfig.json
tsup.config.ts

# prettier
.prettierignore

# env files
**/*.env*
!**/*.env.example*

# misc
**/*.log*
**/*.DS_Store
