# dependencies
node_modules/

# source
src/

# lockfile
pnpm-lock.yaml

# git & github
.git
.gitignore
.github

# typescript
tsconfig.json
tsup.config.ts

# prettier
.prettierignore

# env files
**/*.env*
!**/*.env.example*

# misc
**/*.log*
**/*.DS_Store